/* 
    Document   : style
    Created on : 02.02.2012, 14:26:00
    Author     : seroga arcady.1254@gmail.com
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
 font-family: arial, sans-serif;  	
 font-size: 10pt;
/* background-color: #eeeeee;*/
}
div.main{ 
    width: 100%;
/*    height: 602px;*/
/*    background-color: #eeeeee;*/
/*    outline: 1px solid red;*/
}
div.main_0{
    width: 800px;
    height: 600px;
    margin: 0 auto;
/*    outline: 1px solid red;*/
}
div.selector {
	background-color:#cccccc;
	border-top:1px solid #a7a7a7;
	border-bottom:1px solid white;
	font-size:4ex;
	padding: 0 0 0 0;
        padding-left: 22px;
	margin-top:7px;
	width:98%;
        height: 28px;
} 
span.selector3 {
	display: inline;
	position: relative;
        float: right;
	margin:auto 27px auto auto;
	padding-top: 2px;
	font-size: 1ex;
}
div.glagne{
    position: relative;
    width: 696px;
    margin: 0 auto;
/*    outline: 1px solid red;*/
}
div.title_main{
    position: relative;
    width: 100%;
    font-size: 36px;
    color:firebrick;
    text-align: center;
/*    outline: 1px solid black;*/
}
div.square{
    position: relative;
    float: left;
    width: 195px;
    height: 240px;
    padding-left: 1px;
    padding-top: 3px;
/*    outline: 1px solid red;*/
    z-index: 1;
}
div.circle{
    position: absolute;
    margin-left: 250px;
    margin-top: 2px;
    padding-left: 1px;
    padding-top: 3px;
    width: 195px;
    height: 240px;
/*    outline: 1px solid red;*/
    z-index: 2;
}
div.triangle{
    position: absolute;
    margin-left: 500px;
    margin-top: 2px;
    padding-left: 1px;
    padding-top: 3px;
    width: 195px;
    height: 240px;
/*    outline: 1px solid red;*/
    z-index: 3;
}
div.rate{
    position: absolute;
    width: 100%;
    top: 198px;
/*    outline: 1px solid yellow;*/
}
p.rate{
    font: 32px Arial;
    font-weight: bold;
    text-align: center;
    color: firebrick;
}
div.envelope_base{
    position: relative;
    float: left;
    width: 1024px;
    height: auto;
/*    background-color: #eeeeee;*/
/*    outline: 1px solid red;*/
}
div.envelope{
    position: relative;
    float: left;
    width: 801px;
    height: auto;
    margin-top: 20px;
    margin-left: 120px;
    background-image: url("../images/cover.png");
    display: block;
}
div.round_link{
    position: absolute; 
    margin-left: 120px; 
    margin-top: 333px; 
/*    outline: 1px solid blue;*/
    width: 800px;
    text-align: center;
    z-index: 12;
}
div.registration{ 
    position: relative;
    float: left;
    width: 801px;
    height: auto;
    margin-top: 20px;
    margin-left: 120px;
/*    background-color: #eeeeee;*/
    display: block;
    z-index: 11;
/*    outline: 1px solid green;*/
}
div.regs_fields{
    position: absolute;
    width: 580px;
    height: 175px;
    margin-top: 50px; 
    margin-left: 65px; 
    z-index: 1;
/*    outline: 1px solid black;*/
}
div.r_surname{ 
    position: relative;
    width: 480px;
    height: 28px;
    padding-top: 1px;
    padding-bottom: 0;
/*    outline: 1px solid red;*/
}
div.t_surname{ 
    position: relative;
    float: left;
    width: 90px;
    height: 26px;
    padding-top: 3px;
    padding-left: 2px;
    padding-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    color: black;
    font-style: italic;
/*    outline: 1px solid blue;*/
}
div.input_surname{ 
    position: relative;
/*    float: right;*/
    width: 365px;
    height: 26px;
    margin-left: 93px;
    padding-top: 1px;
    padding-bottom: 0;
/*    outline: 1px solid blueviolet;*/
}
div.reg_index{
    position: absolute;
    width: 370px;
    height: 75px;
    margin-top: 254px;
    margin-left: 18px;
    z-index: 2;
    background-color: #ffffff;
}
div.r_index_0{
    position: absolute;
    width: 44px;
    height: 72px;
    margin-top: 12px;
    padding-left: 8px;
    padding-top: 7px;
    z-index: 0;
}

div.reg_submit{
    position: absolute;
    width: 70px;
    height: 35px;
    margin-top: 195px;
    margin-left: 408px;
    z-index: 3;
    padding-left: 6px;
    padding-top: 12px;
}
div.auto_vote{
    position: absolute;
    display: none;
    width: 760px;
    height: 35px;
    margin-top: 245px;
    margin-left: 12px;
    z-index: 4;
    padding-left: 46px;
    padding-top: 12px;
/*    outline: 1px solid aqua;*/
}
div.yourhave{
    display: none;
}
div.auto_chbox{
    position: relative;
    width: 540px;
    height: 27px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #000000;
}
div.setting_vote{ 
    position: relative;
    float: left;
    width: 801px;
/*    height: 313px;*/
    margin-top: 20px;
    margin-left: 120px;
/*    background-color: #eeeeee;*/
    display: block;
/*    outline: 1px solid green;*/
}
div.change_code{
    position: absolute;
    width: 700px;
    height: 35px;
    margin-top: 290px;
    margin-left: 428px;
    z-index: 3;
    padding-left: 6px;
    padding-top: 12px;
}
div.stamp{
    position: relative;
    background-image: url(../images/stamp.gif);
    width: 142px;
    height: 140px;
    margin-top: 35px;
    margin-left: 613px;
    font: 14px Arial;
    color: firebrick;
    text-align: center;
    padding-top: 10px;
    outline: 2px solid black;
}
div.recipe{
    position: relative;
    width: 220px;
    height: 24px;
    margin-left: 563px;
    margin-top: 52px;
    padding-top: 2px;
    padding-left: 2px;
}
div.send{
    position: relative;
    width: 220px;
    height: 24px;
    margin-left: 563px;
    margin-top: 12px;
    padding-top: 2px;
    padding-left: 2px;
}
div.submit_cover{
    position: relative;
    width: 142px;
    height: 31px;
    margin-left: 643px;
    margin-top: 12px;
}
div.add_mail{
    position: relative;
    float: left;
    width: 801px;
    height: 563px;
    margin-top: 20px;
    margin-left: 120px;
/*    background-color: #eeeeee;*/
    display: block;
    z-index: 0;
}
div.txt_add_mail{ 
    position: absolute;
    width: 560px;
    height: 28px;
    margin-left: 5px;
    margin-top: 2px;
    z-index: 1;
    font: 14px Arial;
    font-weight: normal;
    color: #000000;
}
div.stamp_add_mail{
    position: absolute;
    float: right;
    background-image: url(../images/stamp.gif);
    width: 145px;
    height: 145px;
    margin-top: 35px;
    margin-left: 613px;
    z-index: 2;
}
div.input_mail{
    position: absolute;
    width: 220px;
    height: 28px;
    margin-left: 115px;
    margin-top: 62px;
    z-index: 3;
    font: 14px Arial;
    font-weight: bold;
    color: #000000;
    padding-top: 2px;
    padding-left: 3px;
}
div.confirm{
    position: absolute;
    width: 220px;
    height: 28px;
    margin-left: 185px;
    margin-top: 102px;
    z-index: 4;
}
div.stat_head{
    position: relative;
    float: left;
    width: 595px;
    text-align: center;
}
p.stat_head{
    font-size: 22px;
}
p.stat_head_1{
    font-size: 19px;
/*    text-align: center;*/
}
div.stat_table{
    position:relative;
    float: left;
    width: 590px;
    margin: 0 auto;
    
}
thead.stat_table{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    outline: 1px solid #a7a7a7;
}
tr.stat_table{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
input.submit3 {
	font-size: 8pt;
	font-weight: bold;
	margin-left: 3px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top:0px;	
	position:relative;	
}
p.reg{
    font-size: 10px;
    color: #000000;
}
#time {
  position: relative;
  float: left;
  top: 3px;
  left: 12px;
  font-size: 14px;
  color: red;
  font-weight: bold;
}
div.insert{
    position: absolute;
    float: left;
    width: 200px;
    height: 64px;
    top: 275px;
    left: 400px;
    border: 2px solid #999999;
    display: none;
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-align: center;
    z-index: 13;
    background-color: aquamarine;
}
div.element{
    position: relative;
    float: left;
    width: 100%;
    height: 32px;
    z-index: 6;
}
input.element{
    font-size: 14px;
    font-weight: bold;
    color: black;
}
div.auto_on{
    position: relative;
    float: right;
    right: 64px;
}
div.pro_round{
    position: relative;
    margin: 12px auto;
    width: 800px;
}
div.footer{
    text-align: center;
    color: black;
    position: relative;
    background-color: #dddddd;
    width: 1024px;
    margin: 0 auto;
}