/* 
    Document   : style
    Created on : 27.07.2012, 23:11:19
    Author     : serjoga
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
@font-face {
	font-family: Leitura-Roman-4;
	src:url(Leitura-Roman-4.otf);
}
.style_header{
    position: relative;
    width: 896px;
    height: 174px;
    margin: 0 auto;
    text-align: center;
    color: white;
}
body {
	padding-bottom: 0px;
	background-color: #c52608;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	height: 100%;
	font-family: Georgia, sans-serif;
}

#content{
	width: 100%;
	background-color: #f7e4c6;
}

#web {
	width: 1024px;
	margin-left: auto;
	margin-right: auto
}

#header {
/*	background-image: url(../images/header.jpg);*/
	background-repeat: repeat-x;
	height: 111px;
}

#main {
	background: #ebd0a5;
/*	background-image: url(../images/main_h.jpg);*/
	background-repeat: repeat-x;
	background-position: 50% top;
	min-height: 380px;	
}

#main_no_symbol {
	background: #ebd0a5;
/*	background-image: url(../images/main_h_no_symbol.jpg);*/
	background-repeat: repeat-x;
	background-position: 50% top;
	min-height: 380px;	
}

#main_f {
/*	background-image: url(../images/main_bg.jpg);*/
	background-color: #f7e4c6;
	background-repeat: no-repeat;
	background-position: 50% top;
	min-height: 405px
}

#main_h {
/*	background-image: url(../images/main.jpg);*/
	background-color: #eacfa5;
	background-repeat: no-repeat;
	background-position: 50% top;
}

.main_content{
	float: left;
	width: 500px;
	min-height: 500px;
}

.result_content{
	float: left;
	width: 500px;
	min-height: 200px;
	margin-left: 30px;
}

#main_z {
/*	background-image: url(../images/main_h.jpg);*/
	background-color: #eacfa5;
	background-repeat: no-repeat;
	background-position: 50% top;
}

#main_r {
/*	background-image: url(../images/main_h.jpg);*/
	background-color: #eacfa5;
	background-repeat: no-repeat;
	background-position: 50% top;
}

#more {
	background: #f7e4c6;
/*	background-image: url(../images/more.jpg);*/
	background-repeat: no-repeat;
	background-position: center 50%;
	min-height: 184px
}

.play_more_btn{
	display: block;
/*	background: url(../images/play_one_more_time.jpg) no-repeat;*/
	width:191px;
	height:42px;	
}

.play_more_btn:hover{
/*	background: url(../images/play_one_more_time_o.jpg) no-repeat;*/
}

.banner_play{
	display: block;
/*	background: url(../images/baneris_smelis3.jpg) no-repeat;*/
	width:382px;
	height:148px;	
}

.banner_play:hover{
/*	background: url(../images/baneris_smelis4.jpg) no-repeat;*/
}

/*#footer {
	background-image: url(../images/footer.jpg);
	background-repeat: repeat-x;
	background-position: 50% bottom;
	min-height: 79px
}*/
.logo {
	display: block;
	position: absolute;
/*	background: url(../images/logo.jpg) no-repeat;*/
	z-index: 20; 
	height: 129px; 
	margin-left: 50px; 
	width: 181px;
	float: left;
}
#menu {
	z-index: 20; 
	width: 650px; 
	float: left;
	padding-top: 38px;
	padding-left: 260px;
}
 


.menu_home:hover {
/*	background: url('../images/home_o.png') no-repeat;*/
}
 
 
#home {
	margin-top: 10px; margin-bottom: 20px; float: left; margin-right: 30px
}
.menu_b {
	position: relative; margin-bottom: 10px; float: left; margin-right: 6px; color: #f7e4c6;
}
.menu_b:hover {
	position: relative; margin-bottom: 10px; float: left; margin-right: 6px; color: #ffffff;
}
.menu_b .menu_text {
	position: absolute; font-family: georgia; margin-bottom: 3px;  top: 3px; right: 10px; font-weight: bold; left: 10px
}
.menu_text_2 {
	position: absolute; margin-top: 9px; font-family: georgia; margin-bottom: 3px; top: 3px; right: 10px; font-weight: bold; left: 10px
}
.page_title {
	margin-top: 20px;
	width: 181px;
	float: left;
	margin-left: 50px;
}

#bilieto_forma{
	margin-left: -181px;
}

#bilieto_forma0{
	margin-left: -181px;
}

#bilieto_forma_txt{
	padding-top: 5px;
	padding-bottom: 5px;
}
#selected {
	width: 295px; 
	float: left
}
#desine {
	width: 226px; 
	float: right; 
	padding-bottom: 10px;
	height: auto
}
#shop_cart {
/*	background-image: url(../images/shop_cart_bg.jpg); */
        position: static; margin-top: 20px; width: 226px; background-repeat: no-repeat; background-position: 50% top; margin-bottom: 20px; float: right; height: 100px; margin-right: 45px
}
#shop_cart_small {
/*background-image: url(../images/cart_small.png); */
	margin-top: 20px; 
	width: 226px; 
	background-repeat: no-repeat; 
	background-position: 50% top; 
	float: right; 
	min-height: 50px; 
	cursor: pointer; 
	margin-right: 45px;
	margin-bottom: -15px;
}

.no_check{
	padding-bottom: 70px;
}

#small_cart_ticket {
	margin-top: 22px; 
	font-family: georgia; 
	float: right; 
	color: #5f4b2e; 
	font-size: 9pt; 
	font-weight: bold; 
	margin-right: 10px
}
#small_cart_ticket1 { 
	font-family: georgia; 
	float: right; 
	color: #5f4b2e; 
	font-size: 9pt; 
	font-weight: bold; 
	margin-right: 10px
}
#small_cart_cost {
	margin-top: 22px; 
	font-family: georgia; 
	float: right; 
	color: #b7230e; 
	font-size: 9pt; 
	font-weight: bold; 
	margin-right: 3px
}
#small_cart_cost1 {
	font-family: georgia; 
	float: right; 
	color: #b7230e; 
	font-size: 9pt; 
	font-weight: bold; 
	margin-right: 3px
}

#cartclose{
	height: 16px;
	padding-right: 7px;
	padding-top: 7px;
}



.buy_btn1{
	background: red;
	display: block;
	width: 86px;
	height: 28px;
/*	background: url(../images/shop_btn.jpg) no-repeat; */
}

.buy_btn1:hover{
/*	background: url(../images/shop_btn_o.jpg) no-repeat;*/
}


.buy_btn {
	position: absolute; padding-left: 135px; cursor: pointer; padding-top: 60px
}
.cart {
	padding-right: 5px; float: right; padding-top: 10px
}
#pirkti {
	margin-top: 2px; 
	width: 226px; 
	float: right; 
	height: 181px; 
	margin-right: 45px
}
.pirkti {
	padding-bottom: 0px; 
	margin: 0px; 
	padding-left: 0px; 
	padding-right: 0px; 
	display: block; 
	padding-top: 0px
}
#htp_title_txt {
	text-align: center; 
	color: #000000; 
	font-size: 14pt; 
	font-weight: normal; 
	padding-top: 5px;
}
.letters {
	width: 30px; 
	display: block; 
	font-family: Leitura-Roman-4; 
	margin-bottom: 4px; 
	float: left; 
	height: 30px;
	margin-left: 25px; 
	font-size: 20pt; 
	font-weight: bold
}
.fields {
	width: 240px; 
	display: block; 
	float: left; 
	height: 30px
}
INPUT#A_selected {
/*	background-image: url(../images/selected_bg.jpg); */
        border-bottom: 0px; border-left: 0px; width: 41px; background-repeat: no-repeat; margin-bottom: 4px; height: 27px; border-top: 0px; margin-right: 4px; border-right: 0px
}
INPUT#B_selected {
/*	background-image: url(../images/selected_bg.jpg);*/
        border-bottom: 0px; border-left: 0px; width: 41px; background-repeat: no-repeat; margin-bottom: 4px; height: 27px; border-top: 0px; margin-right: 4px; border-right: 0px
}
INPUT#C_selected {
/*	background-image: url(../images/selected_bg.jpg);*/
        border-bottom: 0px; border-left: 0px; width: 41px; background-repeat: no-repeat; margin-bottom: 4px; height: 27px; border-top: 0px; margin-right: 4px; border-right: 0px
}
.clearas {
/*	CLEAR: both;*/
}
INPUT#amnt {
/*	background-image: url(../images/selected_bg.jpg);*/
        border-bottom: 0px; border-left: 0px; width: 41px; background-repeat: no-repeat; margin-bottom: 4px; height: 27px; border-top: 0px; margin-right: 4px; border-right: 0px
}
#numbers {
	border-bottom: #cfaf7d 1px solid; border-left: #cfaf7d 1px solid; width: 263px; background: #fff2dd; float: left; height: 236px; border-top: #cfaf7d 1px solid; border-right: #cfaf7d 1px solid
}
.my_button {
	border-bottom: medium none; border-left: medium none; padding-bottom: 2px; margin: 1px; padding-left: 2px; width: 23px; padding-right: 2px; font-family: Georgia; background: #f1dbb9; height: 23px; color: #000; font-size: 11px; border-top: medium none; cursor: pointer; border-right: medium none; padding-top: 2px
}
.my_button:hover {
	border-bottom: medium none; border-left: medium none; padding-bottom: 2px; margin: 1px; padding-left: 2px; width: 23px; padding-right: 2px; font-family: Georgia; background: #f8eddc; height: 23px; color: #a2220c; font-size: 11px; border-top: medium none; cursor: pointer; border-right: medium none; padding-top: 2px
}
.my_button[disabled] {
	background: #f8eddc;
	color: #a2220c;
}
#buy_btn_top {
	padding-bottom: 0px; 
	margin: 0px 0px 0px 6px; 
	padding-left: 0px; width: 111px; 
	padding-right: 0px; 
	display: block; 
	float: left; 
	height: 56px; 
	padding-top: 0px
}
.bimbam {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; display: block; padding-top: 0px
}
.clear_btn {
	display: block; 
	cursor: pointer; 
	width:111px;
	height:28px;
/*	background: url('../images/clear_btn.jpg') no-repeat;*/
	padding: 0;
	margin: 0;
	border: none;
	margin-top: 5px;
}

.clear_btn:hover{
/*	background: url('../images/clean_o.jpg') no-repeat;*/
}

#to_cart {
	margin-top: 55px; 
	width: 115px; 
	float: left; 
	height: 57px; 
	padding-left: 6px;
}
.to_cart {
	cursor: pointer;
	margin: 0px 0px 0px 0px;
	display: inline-block;
	border: none;
	width:115px;
	height:57px;
/*	background: url('../images/put_to_cart.jpg') no-repeat;*/
}

.to_cart:hover{
/*	background: url('../images/put_to_cart_o.jpg') no-repeat;*/
}
.to_add {
	cursor: pointer;
	margin: 0px 0px 0px 2px;
	display: inline-block;
	border: none;
	width:28px;
	height:28px;
/*	background: url('../images/add_to_cart.jpg') no-repeat;*/
}

.to_add:hover{
/*	background: url('../images/add_to_cart_o.jpg') no-repeat;*/
}
.to_sub {
	cursor: pointer;
	margin: 0px 0px 0px 2px;
	display: inline-block;
	border: none;
	width:28px;
	height:28px;
/*	background: url('../images/sub_to_cart.jpg') no-repeat;*/
}

.to_sub:hover{
/*	background: url('../images/sub_to_cart_o.jpg') no-repeat;*/
}
#prize {
	width: 300px; 
	float: left; 
	height: 185px; 
	margin-left: 38px
}
#prize_title {
	padding-left: 3px;
	padding-top: 17px;
	padding-bottom: 0px;
	font-family: georgia, sans-serif; 
	font-size: 17pt; top: 17px; 
	font-weight: bold; left: 3px
}
#prize_img {
	padding-top: 15px;
	margin-left: 5px;
}
.d_mil {
	
}
.v_mil {
	
}
#banner {
	float: left;
	width: 386px;
	height: 159px;
	margin-left: 22px;
	margin-top: 20px;
}
#video {
	float: left;
	width: 228px; 
	height: 163px;
	padding-left: 10px;
	padding-top: 10px; 
}
#order_news {
/*	background-image: url(../images/order_news.jpg);*/
	margin-top: 2px; 
	width: 226px; 
	background-repeat: no-repeat; 
	background-position: 50% top; 
	float: right; 
	height: 95px; 
	margin-right: 45px
}
#order_form_f {
	margin: 53px 0px 0px 5px; 
	float: left
}
#order_form_b {
	margin: 53px 0px 0px; 
	float: left
}
#check_ticket {
/*	background-image: url(../images/check_ticket_bg.jpg);*/
	margin-top: 22px; 
	width: 226px; 
	background-repeat: no-repeat; 
	background-position: 50% top; 
	float: right; 
	height: 95px; 
	margin-right: 45px
}
#check_form_f {
	margin: 53px 0px 0px 5px; 
	float: left
}
#check_form_b {
	margin: 53px 0px 0px; 
	float: left
}
INPUT#check {
/*	background-image: url(../images/check_input_2.jpg); */
	border-bottom: 0px; 
	border-left: 0px; 
	text-indent: 10px; 
	width: 179px; 
	background-repeat: no-repeat; 
	font-family: Verdana; 
	height: 35px; 
	color: gray; 
	border-top: 0px; 
	border-right: 0px
}
INPUT.check {
/*	background-image: url(../images/check_input_2.jpg); */
        border-bottom: 0px; border-left: 0px; text-indent: 10px; width: 179px; background-repeat: no-repeat; font-family: Verdana; height: 33px; color: gray; border-top: 0px; border-right: 0px
}
.check_input {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
.check_btn {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
#reg_border_center {
/*	background-image: url(../images/vertical_border.jpg); */
	width: 2px; 
	background-repeat: no-repeat; 
	height: 257px; 
	float:left;
}
#new_user {
	width: 240px; 
	float: left;
}
#reg_border {
/*	background-image: url(../images/login_border.jpg); */
	width: 213px; 
	background-repeat: no-repeat; 
	height: 1px
}
#new_reg_text {
	font-style: italic; 
	margin-top: 10px; 
	width: 220px; 
	font-family: Georgia; 
	margin-bottom: 10px; 
	color: #a08966; 
	font-size: 10pt
}
#new_input {
	
}
#exs_user {
	margin-top: 40px; 
    float: left;
    height: 260px;
    padding-left: 30px;
    width: 200px;
}

#inputas_reg {
/*	background-image: url(../images/reg_input.jpg); */
	border-bottom: 0px; 
	border-left: 0px; 
	width: 209px; 
	background-repeat: no-repeat; 
	height: 27px; 
	border-top: 0px; 
	border-right: 0px
}
.inputas_reg {
/*	background-image: url(../images/reg_input.jpg); */
        border-bottom: 0px; border-left: 0px; width: 209px; background-repeat: no-repeat; height: 27px; border-top: 0px; border-right: 0px
}
#login_p {
	width: 240px;
	padding-top: 20px;
}
#new_user_title {
	font-family: Georgia, sans-serif; 
	margin-bottom: 20px; 
	font-size: 12pt; 
	font-weight: bolder
}
#banks {
	display: block;
	float: left;
	padding-top: 30px;
	width: 434px; 
	height: 26px; 
	padding-left: 50px;
}
#lottofix {
	padding-top: 10px;
	float: right;
	padding-right: 30px;
}

#copy {
	float: right;
	padding-top: 30px;
	font-family: Georgia, sans-serif;
	font-size: 8pt;
	padding-right: 50px;
}
#new_user_title {
	font-family: Georgia, sans-serif; margin-bottom: 20px; font-size: 12pt; font-weight: bolder
}

.text_header, .page_header {
	margin-top: 35px; 
	font-family: Georgia; 
	font-size: 12pt; 
	font-weight: bold
}

.page_header {
	margin-left: 38px;
}

.text_line{
	padding-top: 5px;
	border-bottom: 1px dashed black;
}

.text_content{
	text-align: justify;
	padding-top: 10px;
}

.laimingi_text{
	text-align: justify;
	padding-top: 10px;
	line-height: 150%;
	padding-bottom: 30px;
}

.login_content{
	float: left;
	width: 500px;
	padding-top: 20px;
	padding-left: 5px;
}

#login_formos{
	width: 100%;
}

.progress_bar{
	height: 34px;
}

.progress_bar_line{
	margin-top: -9px;
	margin-left: -4px;
}

.dashed{
	border-bottom: 1px dashed black;
	padding-bottom: 7px;
}


#story {
	position: absolute; text-align: justify; border-right-width: 1px; margin-top: 60px; text-indent: 30px; width: 440px; display: block; 
	border-bottom-width: 1px; margin-left: 270px; border-top: 1px dashed; border-left-width: 1px;
	font-family: Georgia, sans-serif;
	line-height: 1.5em; 
}
#story_2 {
	border-bottom: 1px dashed black; 
	padding-bottom: 20px; 
	border-right-width: 1px; 
	width: 440px; 
	border-top: 1px dashed black; 
	text-align: center;
	margin-left: 40px;
	margin-top: 5px;
	border-left-width: 1px
}
#how_to {
	margin-top: 20px; 
	font-family: georgia; 
	font-size: 10pt
}
#how_to_i {
	float: left
}
#how_to_t {
	float: left
}
#story_2_2 { /* nebenaudosim */
	position: absolute; 
	text-align: justify; 
	border-right-width: 1px; 
	margin-top: 390px; 
	text-indent: 30px; 
	width: 440px; 
	display: block; 
	border-bottom-width: 1px; 
	margin-left: 270px; 
	border-top: 1px dashed; 
	border-left-width: 1px
}
/*
#story_3 {
	position: absolute; text-align: justify; border-right-width: 1px; margin-top: 970px; text-indent: 30px; width: 440px; display: block; border-bottom-width: 1px; margin-left: 270px; border-top: 1px dashed; border-left-width: 1px
}

#story_4 {
	position: absolute; text-align: justify; border-right-width: 1px; margin-top: 1140px; text-indent: 30px; width: 440px; display: block; border-bottom-width: 1px; margin-left: 270px; border-top: 1px dashed; border-left-width: 1px
}
*/
#quick_button {
/*	background-image: url(../images/bimbam_btn.jpg); */
	border-bottom: 0px; 
	border-left: 0px; 
	width: 111px; 
	background-repeat: no-repeat; 
	height: 28px; 
	border-top: 0px; 
	cursor: pointer; 
	border-right: 0px
}
#quick_button:hover {
/*	background-image: url(../images/bimbam_o.jpg); */
	border-bottom: 0px; 
	border-left: 0px; 
	width: 111px; 
	background-repeat: no-repeat; 
	height: 28px; 
	border-top: 0px; 
	cursor: pointer; 
	border-right: 0px
}

#cart_ticket {
	font-style: italic; margin-top: 6px; font-family: georgia; float: left; margin-left: 35px; font-size: 9pt
}
#cart_cost {
	font-style: italic; margin-top: 3px; font-family: georgia; float: right; color: #b7230e; font-size: 9pt; margin-right: 124px
}
.registruotis_btn {
	border: none;
	cursor: pointer;
	margin-top: 10px; 
	display: block;
	width: 154px;
	height: 28px;
/*	background: url(../images/registruotis.jpg) no-repeat; */
}

.registruotis_btn:hover{
/*	background: url(../images/registruotis_o.jpg) no-repeat; */
}

.prisijungti_btn {
	border: none;
	cursor: pointer;
	margin-top: 10px; 
	display: block;
	width: 138px;
	height: 28px;
/*	background: url(../images/login.jpg) no-repeat; */
}

.prisijungti_btn:hover{
/*	background: url(../images/login_o.jpg) no-repeat; */
}

.prisijungti_btn1 {
	border: none;
	cursor: pointer;
	margin-top: 10px; 
	display: block;
	width: 138px;
/*	height: 28px;
	background: url(../images/loginm.jpg) no-repeat; */
}

.prisijungti_btn1:hover{
/*	background: url(../images/loginm_o.jpg) no-repeat; */
}

.apmoketi_btn {
	border: none;
	cursor: pointer;
	margin-top: 10px; 
	display: block;
	width: 117px;
	height: 28px;
/*	background: url(../images/pay.jpg) no-repeat; */
}

.apmoketi_btn:hover{
/*	background: url(../images/pay_o.jpg) no-repeat; */
}

#new_reg_text_c {
	font-style: italic; font-family: georgia; font-size: 9pt
}
#title_txt {
	text-align: left; margin-top: 10px; color: #000000; margin-left: 36px; font-size: 14pt; font-weight: normal;
}
#title_txt_l {
	text-align: left; margin-top: 10px; color: #000000; margin-left: 0px; font-size: 14pt; font-weight: bold
}
#check_p {
	display: block;
	float: left; 	 
	width: 333px; 
	height: 28px; 
/*	background-image: url(../images/tikrinti_input.jpg);*/
	border: none; 
	margin-top: 20px; 
	text-indent: 20px; 	
	background-repeat: no-repeat; 
	font-family: Verdana;
}

#tikrint_btn {	
	display: block;
	float: right; 
	width: 101px;
	height: 28px; 
/*	background-image: url(../images/tikrinti.jpg); */
	border: none; 
	margin-top: 20px;
	margin-left: 4px; 	
	cursor: pointer; 
	text-indent: 0px;
}
#tikrint_btn:hover {
/*		background-image: url(../images/tikrinti_o.jpg);*/
}


#check_btn_2 {
	margin-top: 20px; margin-bottom: 20px; float: left
}
#exs_user_f {
	padding-left: 30px;
	width: 200px; 
	float: left; 
	height: 550px; 
}
#login_error, #reg_error {
	color: #d9482d;
	font-size: 7.5pt;
}
#how_to_img {
	
}
#cart_msg, #cart_msg_1 {
	margin-top: 20px; 
	font-family: georgia; 
	margin-bottom: 20px; 
	font-size: 12pt; 
	font-weight: bold
}
#cart_bank {
	text-align: justify; 
	border-right-width: 1px; 
	text-indent: 30px; 
	width: 478px; 
	display: block; 
	border-bottom-width: 1px; 
	border-top: 1px dashed; 
	border-left-width: 1px
}
#cart_banks_msg {
	font-style: italic; 
	margin-top: 20px; 
	font-family: georgia; 
	color: #A08966; 
	font-size: 9pt; 
	text-indent: 0px;
}
#cart_banks {
	margin-top: 20px; float: left; margin-right: 0px
}
#cart_radio {
	border-bottom: #c8a979 2px; border-left: #c8a979 2px; display: inline; float: left; border-top: #c8a979 2px; border-right: #c8a979 2px
}
#cart_bank_img {
	float: left; margin-left: 10px
}
#pay {
	margin-top: 8px; float: left; cursor: pointer; margin-right: 200px
}
#ticket_table {
	border-bottom: 1px dashed; padding-bottom: 5px; margin-top: 15px; text-indent: 0px; font-family: georgia; font-size: 11pt
}
#how_to_i {
	float: left
}
#how_to_t {
	float: left; margin-left: 40px
}

.kur_isigyti_type{
	margin-top: 15px;
	background: red;
}

.kur_isigyti_right{
	float: left;
	width: 419px;
	font-size: 10pt;
	text-align: justify;
}

#kur_isigyti_txt {
	text-indent: 0px; 
	margin-left: -15px;
}

.kur_isigyti_img{
	float: left;
	display: table-cell;
	text-align: right;
	vertical-align: bottom;
	width: 84px;
	padding-right: 10px;
}

#kaip_zaisti_txt{
	padding-bottom: 50px;
}

.indented{
	padding-left: 50px;
}


#story_2_2 {
	position: absolute; text-align: justify; border-right-width: 1px; margin-top: 390px; text-indent: 0px; width: 500px; display: block; border-bottom-width: 1px; margin-left: 270px; border-top: 1px dashed; border-left-width: 1px; padding-top: 10px
}
#story_3 {/* nebenaudosim */
	position: absolute; text-align: justify; border-right-width: 1px; margin-top: 1030px; text-indent: 0px; width: 500px; display: block; border-bottom-width: 1px; margin-left: 270px; border-top: 1px dashed; border-left-width: 1px; padding-top: 10px
}
#story_4 {/* nebenaudosim */
	position: absolute; text-align: justify; border-right-width: 1px; margin-top: 1180px; text-indent: 0px; width: 500px; display: block; border-bottom-width: 1px; margin-left: 270px; border-top: 1px dashed; border-left-width: 1px; padding-top: 10px
}
#t_header_2 { /* nebenaudosim */
	position: absolute; margin-top: 360px; font-family: Georgia; margin-left: 270px; font-size: 12pt; font-weight: bold
}
#t_header_3 {/* nebenaudosim */
	position: absolute; margin-top: 1005px; font-family: Georgia; margin-left: 270px; font-size: 12pt; font-weight: bold
}
#t_header_4 {/* nebenaudosim */
	position: absolute; margin-top: 1160px; font-family: Georgia; margin-left: 270px; font-size: 12pt; font-weight: bold
}
#shop_cart_h {
/*	background-image: url(../images/shop_cart_bg.jpg); */
        position: static; margin-top: 20px; width: 226px; background-repeat: no-repeat; background-position: 50% top; float: right; height: 100px; margin-right: 15px
}
#pirkti_h {
	margin-top: 20px; width: 226px; float: right; height: 181px; margin-right: 15px
}
#info_top {
		float: left;
    color: #6B1608;
    font-family: georgia;
    font-size: 9pt;
    font-style: italic;
    top: 4px;
    width: 100px;
    padding-top: 5px;
}
#loginas {
	border-bottom: #cf462e 1px solid; text-align: center; padding-bottom: 5px; font-style: normal; margin-top: 15px; border-top-color: #cf462e; width: 120px; border-right-color: #cf462e; border-left-color: #cf462e
}
#contactus {
    border-top: 1px solid #D0462E;
    float: right;
    margin-right: 24px;
    margin-top: 10px;
    padding-top: 8px;
    text-align: center;
    width: 130px;
}
#logout {
    float: right;
    font-size: 9pt;
    font-style: normal;
    margin-right: 24px;
    margin-top: 6px;
    padding-right: 30px;
    text-align: right;
    width: 500px;
} 

#logout_a {
	color: #ffac9c;
}
#logout_b, #logout_b a {
	text-decoration: none;
	color: #941a08;
}

#logout_b:hover, #logout_b a:hover  {
	text-decoration: none;
	color: #b91a02;
}

#mail {
	color: #b92700;
	text-decoration: none;
}
#basic-modal-content {
	display: none
}
#simplemodal-overlay {
	
}
#simplemodal-container {
	padding-bottom: 15px; 
	padding-left: 17px; 
	width: 238px; 
	padding-right: 17px; 
	font-family: Georgia; 
/*	background: url(../images/ticket_bg.jpg) no-repeat; */
	height: 535px; color: black; 
	font-size: 9pt; 
	padding-top: 15px
}
#simplemodal-container .simplemodal-data {
	width: 204px;
}
#simplemodal-container CODE {
	padding-bottom: 6px; 
	padding-left: 6px; 
	padding-right: 6px; 
	display: block; 
	margin-bottom: 12px; 
	font-size: 12px; 
	padding-top: 4px
}
#simplemodal-container A {
	color: #000
}
#simplemodal-container A.modalCloseImg {
	z-index: 3200; 
	position: absolute; 
	width: 9px; 
	display: inline; 
/*	background: url(../images/x.jpg) no-repeat; */
	height: 9px; top: 10px; 
	cursor: pointer; 
	left: 220px
}
#simplemodal-container H3 {
	color: #84b8d9
}

#basic-modal-content_2 {
	display: none
}

.basic{
	display: block;
	cursor: pointer;
	width:33px;
	height:35px;
	border: none;
/*	background: url('../images/check_btn.jpg') no-repeat;*/
}

.basic:hover{
/*	background: url('../images/check_btn_o.jpg') no-repeat;*/
}


#cart_modal {
	position: absolute;	
	float: left;
	width: 226px;  
	font-family: Georgia; 
/*	background: url(../images/big_cart_bg.png) repeat-y; */
	color: black; 
	font-size: 9pt;
	margin-left: -45px;
	margin-top: 20px;
}

#basic-modal {
	text-indent: 0px;
	background: red;
	display: block;
	float: left;
}

#cartmodal-container {
	
}
#cartmodal-container .simplemodal-data {
	padding-left: 5px; 
	padding-top: 5px
}
#cartmodal-container CODE {
	padding-bottom: 6px; 
	padding-left: 6px; 
	padding-right: 6px; 
	display: block; 
	margin-bottom: 12px; 
	font-size: 12px; 
	padding-top: 4px
}
#cartmodal-container A {
	color: #ddd
}

#cart_modal A.modalCloseImg {
	z-index: 3200; 
	display: block;
	float: right;
	width: 9px;	
	height: 9px;	
/*	background: url(../images/x.jpg) no-repeat; 
	background-position: 50% botom;*/
	padding-top: 5px;
	cursor: pointer;
}

#cartmodal-container H3 {
	color: #84b8d9
}
/*#cart_heading {
	background: url(../images/big_cart_top.png) no-repeat; 
	height: 48px
}*/
#cart_table {
	border-bottom-color: #dcd0bc; 
	padding-bottom: 5px; 
	border-right-width: 1px; 
	width: 206px; 
	border-bottom-width: 1px; 
	border-right-color: #dcd0bc; 
	margin-left: 10px; 
	border-left-color: #dcd0bc; 
	border-top: #dcd0bc 1px dashed; 
	border-left-width: 1px; 
	margin-right: 10px; 
	padding-top: 5px
}
#cart_table TD.ticket {
	width: 70px; 
	font-size: 11pt; 
	font-weight: normal
}
#cart_table TD.total {
	width: 60px; 
	font-size: 9pt; 
	font-weight: bolder
}
#cart_table TD.edit {
	width: 62px; 
	color: #cd381b; 
	font-size: 8pt; 
	font-weight: normal
}
#cart_table TD.price {
	text-align: right; 
	width: 40px; 
	color: #000; 
	font-size: 9pt; 
	font-weight: bolder
}
#cart_table TD.total_price {
	text-align: right; 
	width: 116px; 
	color: #000; 
	font-size: 9pt; 
	font-weight: bolder
}
#cart_table TD.delete {
	width: 9px; 
	height: 9px
}
/*#cart_table TD.delete A {
	width: 9px; display: block; background: url(../images/xr.jpg) no-repeat; height: 9px; cursor: pointer
}
#cart_table TD.edit A.cart_plus {
	width: 9px; display: inline-block; background: url(../images/plus.jpg) no-repeat; height: 9px; cursor: pointer
}
#cart_table TD.edit A.cart_minus {
	width: 9px; display: inline-block; background: url(../images/minus.jpg) no-repeat; height: 9px; cursor: pointer
}*/

/*#cart_bottom {
	background: url(../images/big_cart_bot.png) no-repeat; height: 3px
}*/
#how_to_play_txt {
	margin-top: 15px; 
	font-family: Georgia; 
	float: left; 
	margin-left: -240px; 
	font-size: 10pt;
	padding-bottom: 20px;
}


#check_ticket_img {
	z-index: 20; 
	width: 100%; 
	height: 156px; 
	text-align: center;
	text-indent: 17px;
	padding-top: 30px;
}
#result_header {
	font-family: Georgia; 
	font-size: 12pt; 
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
}
#result_he1 {
	margin-top: 0px; 
	padding-left: 10px; 
	width: 91px; 
	font-family: Georgia; 
	float: left; 
	color: #aa8b60; 
	margin-left: 0px; 
	font-size: 12pt; 
	font-weight: bold
}
#result_he2 {
	margin-top: 18px; width: 163px; font-family: Georgia; float: left; color: #d73f2a; margin-left: 0px; font-size: 11pt; font-weight: bold
}
/*#result_he3 {
	margin-top: 0px; width: 19px; font-family: Georgia; background: url(../images/bruksnys.png) repeat-y; float: left; margin-left: 0px; font-size: 12pt; font-weight: bold
}*/
#result_he4 {
	margin-top: 0px; width: 88px; font-family: Georgia; float: left; color: #aa8b60; margin-left: 0px; font-size: 12pt; font-weight: bold
}
#result_he5 {
	margin-top: 18px; width: 123px; font-family: Georgia; float: left; color: #d73f2a; margin-left: 0px; font-size: 11pt; font-weight: bold
}
#result_numbers {
	border-right-width: 1px; 
	font-family: Georgia; 
	border-bottom-width: 1px; 
	font-size: 12pt; 
	border-top: 1px dashed; 
	border-left-width: 1px; 
	font-weight: bold;
	width: 450px;
	margin-left: 5px;
	margin-top: 10px;
}
#result_num1 {
	margin-top: 0px; padding-left: 10px; width: 254px; font-family: Georgia; float: left; color: #000000; margin-left: 0px; font-size: 17pt; padding-top: 10px
}
#result_num1 TABLE TD {
	padding-left: 3px; padding-right: 9px; font-weight: normal
}
.red_cell {
	color: #D73F2A;
}
#result_num2 {
	margin-top: 20px; width: 19px; font-family: Georgia; background: url('../images/bruksnys.png') repeat-y; float: left; height: 148px; margin-left: 0px; font-size: 12pt; font-weight: bold
}
#result_num3 {
	margin-top: 18px; width: 166px; font-family: Georgia; float: left; color: #aa8b60; margin-left: 0px; font-size: 11pt; font-weight: bold
}
#result_num3_winA {
	padding-left: 28px; font-family: Georgia; background: url('../images/A.png') no-repeat 0px 5px; height: 35px; color: #000000; font-size: 16pt; font-weight: normal
}
#result_num3_winB {
	padding-left: 28px; font-family: Georgia; background: url('../images/B.png') no-repeat 0px 5px; height: 35px; color: #000000; font-size: 16pt; font-weight: normal
}
#result_num3_winC {
	padding-left: 28px; font-family: Georgia; background: url('../images/C.png') no-repeat 0px 5px; height: 35px; color: #000000; font-size: 16pt; font-weight: normal
}
#result_num3_winCC {
	padding-left: 28px; font-family: Georgia; background: url('../images/Cred.png') no-repeat 0px 5px; height: 35px; color: #D73F2A; font-size: 16pt; font-weight: normal
}
#result_stats {
	border-right-width: 1px; 
	font-family: Georgia; 
	border-bottom-width: 1px;
	font-size: 12pt; 
	border-top: 1px dashed; 
	border-left-width: 1px; 
	width: 450px;
	font-weight: bold
}
#result_stat_head {
	margin-top: 18px; padding-left: 10px; width: 440px; font-family: Georgia; color: #aa8b60; margin-left: 0px; font-size: 11pt; font-weight: bold
}
#result_stat_subhead {
	padding-left: 10px; width: 440px; font-family: Georgia; color: #000000; margin-left: 0px; font-size: 9pt; font-weight: bold; padding-top: 2px
}
#result_stat_block {
	padding-left: 10px; width: 440px; background: url('../images/stats.png') no-repeat; height: 140px; padding-top: 18px
}
#result_stat_block_h {
	width: 150px; font-family: Georgia; float: left; height: 39px; color: #8e7046; font-size: 13pt; font-weight: normal
}
#result_stat_block_hsmall {
	width: 150px; font-family: Georgia; float: left; height: 39px; color: #8e7046; font-size: 11pt; font-weight: bolder
}
#result_stat_block_bar {
	text-align: right; width: 241px; padding-right: 20px; font-family: Georgia; background: url(../images/skale.png) no-repeat; float: left; height: 35px; color: #8e7046; font-size: 16pt; font-weight: normal; padding-top: 4px
}

#history_header {
	font-family: Georgia; 
	font-size: 12pt; 
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
}
#history_he1 {
	margin-top: 0px; 
	padding-left: 10px; 
	width: 105px; 
	font-family: Georgia; 
	float: left; 
	color: #aa8b60; 
	margin-left: 0px; 
	font-size: 12pt; 
	font-weight: bold
}
#history_he2 {
	margin-top: 0px; width: 80px; font-family: Georgia; float: left; color: #aa8b60; margin-left: 0px; font-size: 12pt; font-weight: bold
}
#history_he3 {
	margin-top: 0px; width: 30px; font-family: Georgia; float: left; color: #aa8b60; margin-left: 0px; font-size: 12pt; font-weight: bold
}
#history_he4 {
	margin-top: 0px; width: 130px; font-family: Georgia; float: left; color: #aa8b60; margin-left: 0px; font-size: 12pt; font-weight: bold
}
#history_he5 {
	margin-top: 0px; width: 130px; font-family: Georgia; float: left; color: #aa8b60; margin-left: 0px; font-size: 12pt; font-weight: bold
}

#history_numbers {
	font-family: Georgia; 
	font-size: 12pt; 
	font-weight: normal;
	text-align: center;
	padding-top: 2px;
}
#history_num1 {
	margin-top: 0px; 
	padding-left: 10px; 
	width: 105px; 
	font-family: Verdana; 
	float: left; 
	color: #000000; 
	margin-left: 0px; 
	font-size: 9pt; 
}
#history_num2 {
	margin-top: 0px; width: 80px; font-family: Verdana; float: left; color: #000000; margin-left: 0px; font-size: 9pt;
}
#history_num3 {
	margin-top: 0px; width: 30px; font-family: Verdana; float: left; color: #000000; margin-left: 0px; font-size: 9pt;
}
#history_num4 {
	margin-top: 0px; width: 130px; font-family: Verdana; float: left; color: #000000; margin-left: 0px; font-size: 9pt;
}
#history_num5 {
	margin-top: 0px; width: 130px; font-family: Verdana; float: left; color: #000000; margin-left: 0px; font-size: 9pt;
}


/* tomo ***************************************** */

.menu_item{
	display: inline-block;
	background: url('../images/menu.png') repeat-x;
	height: 47px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	font-family: georgia;
	font-weight: bold;
	color: #f7e4c6;
	top: 0px;
	vertical-align: middle;
	min-width: 65px;
}

.menu_item:hover{
	background: url('../images/menu_o.png') repeat-x;
}

.menu_home{
	display: inline-block; 
	padding-top: 3px;
	vertical-align: middle;
	top: 0px;
	width:21px;
	height: 22px;
	padding-left: 12px;
	padding-right: 12px;
	background: url('../images/home.png') no-repeat;
	background-position: 50%;
}

.one_line{
	padding-top:10px;
}

.menu_item:hover{
	color: #ffffff;
}

.web {
	width: 1024px;
	margin-left: auto;
	margin-right: auto
}

.pirk_netu, .pirk_mob, .pirk_pc{
	display: block;
	width: 226px;
	
	text-decoration: none;
}

.pirk_netu{	height: 40px;	background: url('../images/htb_web.jpg') repeat-x; }

.pirk_netu:hover{	background: url('../images/htb_web_o.jpg') repeat-x; }

.pirk_mob{ height: 45px;	background: url('../images/htb_mob.jpg') repeat-x; }

.pirk_mob:hover{ background: url('../images/htb_mob_o.jpg') repeat-x; }

.pirk_pc{ height: 46px;	background: url('../images/htb_pc.jpg') repeat-x; }

.pirk_pc:hover{ background: url('../images/htb_pc_o.jpg') repeat-x; }
/******/
.ticket_period_id { font-size: 11px; border-bottom: 1px #000 solid; }

.ticket_number {
	background-color: #000;
	color: #fff;
	margin-top:60px;
	font-size: 11px;
	padding: 2px;
}
.ticket_numbers {
	background-color: #000;
	color: #fff;
	font-size: 11px;
	padding: 2px;
}

.ticket_num_A {
	background: url("../images/A.png") no-repeat scroll 0 5px transparent;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 21px;
	width: 93px;
	float: left;
}
.ticket_num_Awin {
	padding-top: 5px;
	padding-bottom: 5px;
	height: 21px;
	float:left;
	width: 80px;
	text-align: right;
}
.ticket_num_B {
	background: url("../images/B.png") no-repeat scroll 0 11px transparent;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 32px;
	width: 93px;
	float: left;
}
.ticket_num_Bwin {
	padding-top: 5px;
	padding-bottom: 5px;
	height: 32px;
	float:left;
	width: 80px;
	text-align: right;
}
.ticket_num_C {
	background: url("../images/C.png") no-repeat scroll 0 18px transparent;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 49px;
	width: 93px;
	float: left;
}
.ticket_num_Cwin {
	padding-top: 5px;
	padding-bottom: 5px;
	height: 49px;
	float:left;
	width: 80px;
	text-align: right;
}
.ticket_clear_line {
	clear: both;
	font-size: 1px;
	border-bottom: 1px #000 solid;
}
.ticket_result {
	color: #B92700;
	padding-top: 7px;
	padding-bottom: 8px;
	font-weight: bold;
	text-decoration:blink;
}
.ticket_lucky {
	font-size: 15px;
	margin-bottom: 5px;
}
.ticket_winA {
	background: url("../images/A.png") no-repeat scroll 0 5px transparent;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 21px;
	font-size: 15px;font-weight: bold;
}
.ticket_winB {
	background: url("../images/B.png") no-repeat scroll 0 5px transparent;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 21px;
	font-size: 15px;font-weight: bold;
}
.ticket_winC {
	background: url("../images/C.png") no-repeat scroll 0 5px transparent;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 21px;
	font-size: 15px;font-weight: bold;
}
.number_lucky {
	color: #B92700;
	font-weight: bold;
	text-decoration: line-through;
}


#prizediv {
	position: absolute;	
	float: left;
	width: 238px;  
	font-family: Georgia; 
	color: black; 
	font-size: 9pt;
	margin-left: 45px;
	margin-top: -300px;
}
.subtext {
	font-size: 8pt;
}
#front_banner{
float: left;
padding-left: 70px;
padding-top: 317px;
}
/*===========preloader=================================*/
.QOverlay {
	background-color: #aaa;
	z-index: 9999;
}

.QLoader {
	background-color: #aaa;
        opacity: .72;
	height: 2px;
}

.QAmt {
	color:#333333;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:40px;
	font-weight:bold;
	line-height:50px;
	height:354px;
	width:211px;
	margin:-220px 0 0 -50px;
        background-image: url('../images/bulbulator.png');
        background-repeat: no-repeat;
}
div.footer{
    text-align: center;
    color: black;
    position: relative;
    background-color: #ddd;
    width: 1004px;
    margin: 0 auto;
}
a.footer{
    color: black;
}
